
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/comments.css">

</section>
<main>
  <h1><%= room.title %></h1>
  <p><%= room.recipe %></p>
  <img src="<%= room.photoURL %>" alt="<%= room.title %>">
</main>
<h2>Comments</h2>
<% room.comments.forEach(function(comment){ %>
<p><%= comment.content %></p>
<% }) %>
<form id="add-comment-form" method="POST"
  action="/rooms/<%= room._id %>/comments">
  <label>Comment:</label>
  <textarea id="cbox" rows="30" cols="45" name="content">Add Comment</textarea>
 
  </select>
  <input type="submit" value="Add Comments">
  <form action="/comments/<%= room._id %>?_method=DELETE" method="POST"> 
    <button>delete</button>
</form>
</form>   